{% extends 'base.html.twig' %}


{% block body %}
    <h1> bienvenu sur mon blog!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam cumque eos illum mollitia pariatur perspiciatis
    tempore, voluptatem? Accusantium aperiam asperiores aut beatae doloremque dolorum fuga, quaerat rerum unde
    voluptatibus. Adipisci blanditiis doloremque illo laborum molestias numquam odit ullam vero.</p><p>A accusamus
    adipisci alias aliquid architecto aspernatur autem consequuntur deleniti dicta dolores harum illo iure magnam,
    maiores minus molestiae necessitatibus nostrum omnis, optio pariatur praesentium qui quia quo ratione repellat rerum
    similique sunt. Asperiores consectetur debitis dignissimos est incidunt modi!</p>
{% endblock %}

